body{
    background-image: url(../NEWWEBSITE/IMAGE/Picsart_23-06-04_17-56-41-117.jpg);
    background-position: center;
    background-size: 500px;
}
h1{
    text-align: center;
    color: rgb(55, 0, 255);
    font-size: 100px;
}
button{
  width: 100px;
  height: 50px;
  margin: 100px;
}